// Colors
:root {
  --green-50: #f1fefb;
  --green-200: #c9ede4;
  --green-500: #00b388;
  --green-700: #019370;
  --red-500: #ff5d3e;
  --red-700: #ea3815;
  --red-50: #fee;
  --yellow-50: #fff8e4;
  --yellow-500: #ffc000;
  --yellow-700: #ffaa2c;
  --purple-50: #fff1ff;
  --purple-500: #752467;
  --purple-700: #420134;
  --blue-50: #f5f9fd;
  --blue-500: #345bc2;
  --blue-700: #043ed6;
  --pink-50: #fff6f6;
  --pink-500: #ff7b7b;
  --pink-700: #dd4949;
  --grey-50: #fcfcff;
  --grey-100: #f7f8fc;
  --grey-200: #f1f3f8;
  --grey-300: #9fadbc;
  --grey-400: #888e93;
  --grey-500: #5c6266;
  --grey-600: #45494d;
  --grey-900: #101820;
  --black: #000;
  --white: #fff;
}
